Unable to transform to text rrule with WEEKLY frequency and no BYDAY

Hi there!

If you try to parse a rrule with frequency set to WEEKLY and no BYDAY set, it'll give you an error:
> PHP Error:  Call to a member function format() on null in .../vendor/simshaun/recurr/src/Recurr/Transformer/TextTransformer.php on line 282

Sample code to reproduce the error: 
`echo (new \Recurr\Transformer\TextTransformer)->transform(new 
 Recurr\Rule('FREQ=WEEKLY'));`

This is on version 4.0.2

You're right. I faced the same situation.

As you wrote it's easy to reproduce.

```php
$rrule = new \Recurr\Rule('FREQ=WEEKLY');
$transformer = new \Recurr\Transformer\TextTransformer();
echo $transformer->transform($rrule);
```

The above example will output:
`Fatal error: Uncaught Error: Call to a member function format() on null in vendor\simshaun\recurr\src\Recurr\Transformer\TextTransformer.php on line 282`

Except that, according to the [RFC 5545 Section 3.8.2.4](https://tools.ietf.org/html/rfc5545#section-3.8.2.4), you can read:

> This property is REQUIRED in all types of recurring calendar components that specify the "RRULE" property.

So you must explicitelly define a start date in the constructor.

```php
$rrule = new \Recurr\Rule('FREQ=WEEKLY', new \DateTime());
$transformer = new \Recurr\Transformer\TextTransformer();
echo $transformer->transform($rrule);
```

The above example will output:
`weekly on Thursday`

Maybe the library should warn the user that the instance lacks of a start date while a rrule is set, avoiding the transformer to throw an exception.